@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

$navfont: 'Barlow', sans-serif;
$bodyfont: 'Fraunces', serif;
$fontweights: ("300":300,"600":600,"700":700,"900":900);
