@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    position: relative; //solves issue with overflowing menu after onclick
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}


/*-----------LINKS AND LOGO CSS----------*/
header {
    font-family: $navfont;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    text-decoration: none;
    font-weight: map-get($fontweights, "600");

}

.logo {
    margin: 1rem 1rem 0 0;
    height: 1%;
    margin-right: auto;
    cursor: pointer;
    z-index: 2;
}


.links {
    cursor: pointer;
    list-style: none;
    margin: 1rem;
    position: relative;
    z-index: 2;

    li {
        display: inline-block;
        padding: 0px 20px;



        a {
            transition: all 0.3s ease 0s;
            color: white;
            text-decoration: none;

            &:hover {
                color: rgb(0, 0, 0);
            }
        }
    }
}

.button {
    font-family: $bodyfont;
    cursor: pointer;
    padding: 15px 20px;
    background: rgb(255, 255, 255);
    color: black;
    transition: all 0.3s ease;
    border-radius: 20px;
    z-index: 2;

    &:hover {
        background: rgba(255, 255, 255, 0.7);
    }
}

.splash {
    z-index: 1;
    width: 100%;
    margin-top: -250px;
    height: 41rem;
}

.splash-2 {
    display: none;
}

.arrow {
    z-index: 2;
    display: block;
    margin: 0 auto;
    margin-top: -290px;
    width: 50px;
    height: 200px;
}

.head-text {
    padding-top: 5.5rem;
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    font-family: $bodyfont;
    letter-spacing: 7px;
}

.mobile-menu {
    position: absolute;
    top: 2%;
    width: 100%;
    z-index: 3;
    height: 55vh;
    background: white;
    display: none;
    font-family: $navfont;

    li {
        margin-top: 20%;
        font-size: 1.5rem;
        list-style: none;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

@keyframes ani {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes aniback {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }

}


.ani {
    animation: ani 1s ease-in-out forwards;
}

.ani-back {
    animation: aniback 1s ease-in-out forwards;
}

.grid-1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.img-1 {
    margin-top: 85px;
    width: 100%;
}

#img-1-mobile {
    display: none;
}

.img-2 {
    width: 100%;
}

.grid-info {
    font-family: $navfont;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;

    h1 {
        font-family: $bodyfont;
        color: black;
        margin-bottom: 5%;
        font-size: 2.5rem;
    }

    p {
        margin: 0px 50px 30px 50px;
        color: black;
    }

    a {
        text-decoration: none;
        color: black;
        border-bottom: 2px solid red;
    }

}

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.gd-caption {
    position: absolute;
    top: 70%;
    right: 50%;
    text-align: center;

    h1 {
        font-family: $bodyfont;
        margin-bottom: 20px;
    }

    p {
        font-family: $navfont;
        margin: 0px 30px 0px 30px;
    }
}

#gd-mobile {
    display: none;
}

#photog-mobile {
    display: none;
}

.photog-caption {
    position: absolute;
    top: 70%;
    left: 50%;

    h1 {
        text-align: center;
        font-family: $bodyfont;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        font-family: $navfont;
        margin: 0px 30px 0px 30px;
    }
}

.testimonials {
    margin-top: 5em;
    margin-bottom: 8em;

    h1 {
        font-family: $bodyfont;
        text-align: center;
        color: rgb(109, 109, 109);
        margin: 30px 0px 30px 0px;
        letter-spacing: 5px;
    }
}

.client {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
        border-radius: 100px;
    }

    &-info {
        width: 30%;
        text-align: center;

        p {
            padding: 30px;
            font-family: $navfont;
        }

        h2 {
            font-family: $bodyfont
        }

    }
}

.jobs {
    color: rgb(109, 109, 109);
}

.grid-3 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.grid-3-mobile {
    display: none;
}

.footer {
    margin: 0 auto;
    text-align: center;
    background: hsl(168, 34%, 41%);

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }

    a {
        color: black;
        text-decoration: none;
        margin-right: 20px;
        font-family: $navfont;
        transition: color 0.5s;

        &:hover {
            color: white;
        }
    }
}

.socials {
    display: flex;
    margin: auto;
    width: 15%;
}

.social-icon {
    display: block;
    filter: brightness(0) invert(1);
}

.scroll-stop {
    height: 100%;
    overflow: hidden;
}

//Media Queries
@media only screen and (max-width:999px) {

    .splash {
        display: none;
    }

    .splash-2 {
        display: block;
        width: 100%;
        height: 35rem;
    }

    header {
        position: relative;
        top: -400px;
    }

    .logo {
        position: relative;
        bottom: 150px;
    }

    .head-text {
        position: relative;
        bottom: 600px;
    }

    .links {
        display: none;
    }

    #ham {
        position: absolute;
        top: -131px;
        right: 5%;
        z-index: 3;
    }

    .button {
        display: none;
    }

    .arrow {
        margin-top: -550px;
        height: 150px;
    }

    .grid-1 {
        display: grid;
        grid-template-columns: 100%;
    }

    .img-1 {
        display: none;
    }

    #img-1-mobile {
        display: block;
        order: 1;
        margin-top: -73px;
    }

    .grid-info {
        order: 2;

        h1 {
            text-align: center;
            margin-top: -2em;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 2.5rem;
        }

        a {
            margin-bottom: 3em;
        }

        p {
            text-align: center;
        }
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 100%;

        img {
            display: none;
        }
    }

    #gd-mobile {
        display: block;
        width: 100%;
        height: 25em;
    }

    #photog-mobile {
        display: block;
        width: 100%;
        height: 30em;
    }

    .gd-caption {
        position: absolute;
        top: 30%;
        left: 12%;
        font-size: 1.1rem;
        width: 300px;

        h1 {
            margin-top: -20px;
        }

        p {
            margin: 0;
            font-size: 1em;
        }
    }

    .photog-caption {
        position: absolute;
        top: 80%;
        left: 12%;
        font-size: 1.1rem;
        width: 300px;
    }

    .testimonials {
        h1 {
            font-size: 1em;
        }
    }

    .client {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .client-info {
        width: 300px;
        margin-top: 50px;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 100%;

        img {
            width: 100%;
            max-height: 100%;
        }
    }

    .socials {
        width: 50%;
    }

    .mm-trans {
        transition: all 1s;
    }

}

//Changing picture caption positions on tablets
@media(min-width:768px) and (max-width:999px) {
    .photog-caption {
        position: absolute;
        left: 30%;
    }

    .gd-caption {
        position: absolute;
        left: 30%;
    }

    .splash-2 {
        height: 36rem;
    }

    .grid-info {
        h1 {
            margin-top: -20%;
        }
    }

    .socials {
        width: 25%;
    }
}

//Changing picture caption on smaller phones
@media(max-width:400px) {
    .photog-caption {
        position: absolute;
        left: 8%;
    }

    .gd-caption {
        position: absolute;
        left: 8%;
    }

    .splash-2 {
        height: 34rem;
    }
}